@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
p,
body {
  margin: 0;
  padding: 0;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* --------header------- */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #e6c1a3;
  font-family: "NanumSquareNeo-Variable";
}

header {
  padding: 80px 120px;

  background-image: url("./img/bbq.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.bbq-logo h1 {
  font-family: "KBO-Dia-Gothic_bold";

  margin-top: 110px;
  font-size: 80px;
  line-height: 70px;

  text-shadow: 5px 5px 0 #c74d27;
}

.fes7 {
  display: block;
  margin: 20px;
  padding: 5px;

  font-size: 20px;
  font-weight: bold;
  line-height: 30px;

  text-shadow: none;
  background-color: #c74d27;
  color: white;
}

/* --------main------- */

.bbq-content::before {
  content: "";

  border-bottom: 60px solid white;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;

  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.bbq-content {
  max-width: 420px;

  line-height: 2.3rem;

  margin-top: -30px;
  margin-bottom: 30px;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 7px 7px 0px 0px #e56e48;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 90%;
  z-index: 10;

  color: #4fc1ff;
  background-color: white;
}

.bbq-sub strong {
  color: #2f64be;
}

.bbq-sub span {
  display: inline-block;
  color: #ff6ec5;

  font-size: 1.5rem;
  font-weight: bold;
}

dd,
dt {
  display: inline;
}

.bbq-content dd {
  margin-left: 5px;
  color: #985335;
}

.bbq-content dt {
  font-weight: bold;
}

/* SVG FIRE */

.mo-fire {
  height: auto;
  position: fixed;
  z-index: 4;
}

#svg-view {
  width: 100%;
  left: 0px;
}

.mo-fire svg {
  width: 100%;
  margin: auto;
  height: auto;
}
.flame {
  animation-name: flameDisappear;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.5;
  transform-origin: 45% 45% 0;
}
.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}
.flame.two {
  animation-duration: 5s;
  animation-delay: 1s;
}

.flame-main {
  animation-name: flameMovement;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.flame-main.one {
  animation-duration: 2.2s;
  animation-delay: 1s;
}
.flame-main.two {
  animation-duration: 2s;
  animation-delay: 1s;
}
.flame-main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}
.flame-main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}
.flame-main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}
@keyframes flameMovement {
  50% {
    transform: scale(0.98, 1) translate(0, 2px) rotate(-1deg);
  }
}
@keyframes flameDisappear {
  0% {
    transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-10px, -40px) rotate(180deg);
    opacity: 0;
  }
}
